@import "tailwindcss";
@import "./typography.css";

:root {
  --background: #F1F0EC;
  --foreground: #000000;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-spacemono);
  --font-mono: var(--font-dotgothic16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #25262C;
    --foreground: #E8E9EB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}